{% extends 'base.html.twig' %}

{% block body %}

	<h1>Tous les objets</h1>

	<div class="container">

		<div class="row">

			{% for objet in objets %}

				<div class="card" style="width: 18rem;">
					<img src="{{asset('assets/images/')}}{{objet.image}}" class="card-img-top" alt="{{objet.image}}">

					<div class="card-body">
						<h5 class="card-title">{{ objet.name }}</h5>
						<p class="card-text">{{ objet.description|raw}}</p>
					</div>

					<ul class="list-group list-group-flush">

						<li class="list-group-item">
							<a href="{{path('single_home', {id: objet.categorie.id })}}">{{objet.categorie}}</a>
						</li>

					</ul>

					<div class="card-body">
						<a href="{{ path('objet', {'id': objet.id}) }}" class="card-link">Voir l'objet</a>
					</div>
				</div>

			{% endfor %}

		</div>

	</div>
{% endblock %}
