{% extends 'base.html.twig' %}

{% block body %}

	<div class="container">

		<div class="row">

			<div class="card" style="width: 18rem;">
				<img src="{{asset('assets/images/')}}{{objet.image}}" class="card-img-top" alt="{{objet.image}}">

				<div class="card-body">
					<h5 class="card-title">{{ objet.name }}</h5>
					<p class="card-text">{{ objet.description|raw}}</p>
				</div>

				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<a href="{{path('single_home', {id: objet.categorie.id})}}">{{objet.categorie}}</a>
					</li>
				</ul>

			</div>
<<<<<<< HEAD
			
			{% if  app.user and objet.isAvailable  %}
			<a href="{{path('app_reservation', {id: objet.id})}}">Reserver</a>

			{% endif %}
			
		
=======
			{% if app.user and objet.isAvailable %}
				<a href="{{path('app_reservation', {id: objet.id})}}">Reserver</a>
			{% endif %}

>>>>>>> 0caf76c08840237ec0239e8a706ec418722a2d77
		</div>
	</div>
{% endblock %}
